---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { getEntry, render } from "astro:content";

const homepage = await getEntry("pages", "index");

if (!homepage) {
  throw new Error("Missing homepage content");
}

const { Content } = await render(homepage);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={homepage.data.title} description={homepage.data.description} />
  </head>
  <body>
    <Header />
    <main>
      <Content />
    </main>
    <Footer />
  </body>
</html>
