---
interface Props {
  startDate: Date;
  endDate?: Date;
}

const { startDate, endDate } = Astro.props;
---

<div class="date">
  <time datetime={startDate.toISOString()}>
    {
      startDate.toLocaleDateString("en-us", {
        year: "numeric",
        month: "short",
        day: "numeric",
      })
    }
  </time>
  {
    endDate && (
      <>
        <span> - </span>
        <time datetime={endDate.toISOString()}>
          {endDate.toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })}
        </time>
      </>
    )
  }
</div>
